*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font: 12pt 'Minecraftia', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.modal {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.modal-content h2 {
    margin-bottom: 1rem;
    text-align: center;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group-seed {
    position: relative;
    margin-bottom: 1rem;
}

.form-group-seed input {
    width: 65%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group-seed label {
    display: block;
    margin-bottom: -0.5rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.loading-bar-container {
    margin-top: 1rem;
    text-align: center;
}

.loading-bar {
    width: 100%;
    height: 20px;
    background-color: #f3f3f3;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.stats {
    background-color: #f0f0f0; /* Colore di sfondo per risalto */
    padding: 15px; /* Spazio interno */
    margin-bottom: 20px; /* Spazio tra i div */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombra per risalto */
    border: none; /* Nessun bordo */
    border-radius: 5px; /* Angoli arrotondati opzionali */
}

.spaced-div {
    margin-bottom: 20px; /* Aggiungi spazio di 20px tra i div */
}

.centered {
    text-align: center;
}

.loading-bar::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #4CAF50;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 10px;
    animation: loading-indefinite 1.5s linear infinite;
}

@keyframes loading-indefinite {
    0% {
        left: -100%;
    }
    50% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}

#advanced-options {
    display: none;
    margin-top: 1rem;
}

.form-group input[type="checkbox"] {
    width: auto;
    margin-right: 0.5rem;
}

.mc-button-gen {
    height: 40px;
    width: 110px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    user-select: none;
    background: #999 url('../../dist/img/bgbtn.png') center/cover;
    image-rendering: pixelated;
    border: 2px solid #000;
    display: inline-block;
    margin: 0 auto;
}

.mc-button-gen:hover .title {
    background-color: rgba(100, 100, 255, 0.45);
    text-shadow: 2px 2px rgba(32, 32, 19, 0.8);
    color: #FFFFA0;
}

.mc-button-gen:active .title {
    box-shadow: inset -2px -4px rgba(0, 0, 0, 0.2666666667), inset 2px 2px rgba(255, 255, 255, 0.3333333333);
}

.mc-button-gen .title {
    font: 12pt 'Minecraftia', sans-serif;
    width: 100%;
    height: 100%;
    padding-bottom: 0.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #DDD;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.6666666667);
    box-shadow: inset -2px -4px rgba(0, 0, 0, 0.4), inset 2px 2px rgba(255, 255, 255, 0.4666666667);
}

.mc-button-gen.full {
    width: 100%;
    height: 100%;
}

.mc-button {
    height: 40px;
    width: 170px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    user-select: none;
    background: #999 url('../../dist/img/bgbtn.png') center/cover;
    image-rendering: pixelated;
    border: 2px solid #000;
    display: inline-block;
    margin: 0 auto;
}

.advanced-options {
    display: none;
}

.double {
    display: flex;
    justify-content: space-between;
}

.mc-button:hover .title {
    background-color: rgba(100, 100, 255, 0.45);
    text-shadow: 2px 2px rgba(32, 32, 19, 0.8);
    color: #FFFFA0;
}

.mc-button:active .title {
    box-shadow: inset -2px -4px rgba(0, 0, 0, 0.2666666667), inset 2px 2px rgba(255, 255, 255, 0.3333333333);
}

.mc-button .title {
    font: 12pt 'Minecraftia', sans-serif;
    width: 100%;
    height: 100%;
    padding-bottom: 0.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #DDD;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.6666666667);
    box-shadow: inset -2px -4px rgba(0, 0, 0, 0.4), inset 2px 2px rgba(255, 255, 255, 0.4666666667);
}

.mc-button.full {
    width: 100%;
    height: 100%;
}

.sidebar-left, .sidebar-right {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 200px;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.9);
    overflow-y: auto;
    border: 2px solid #656565;
}

.sidebar-left {
    left: 0;
}

.sidebar-right {
    right: 0;
}

.draw-area {
    flex-grow: 1;
    margin: 10px auto;
    border: 2px solid #000;
    background-color: #f0f0f0;
}

.inventory-main {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 15%;
    flex-direction: column;
    margin-bottom: 20%;
}

.inventory {
    width: 150px;
    height: 170px;
    background: #c6c6c6;
    border-radius: 3px;
    box-shadow: 5px 5px 0 #555555, inset 4px 4px 0 #fefefe;
    padding-top: 5px;
    padding-left: 5px;
    text-align: center;
}

.backpack-h1 {
    text-align: center;
    margin: 5px 10px;
    font-family: 'Minecraftia', sans-serif;;
    font-size: 15px;
    color: #404040;
}

.number {
    font-family: 'Minecraftia', sans-serif;;
    font-size: 18px;
    color: #fefefe;
    position: relative;
    text-shadow: #333 1px 2px 1px;
    top: -20px;
    right: -8px;
    cursor: default;
}

.slot {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    background: #8b8b8b;
    box-shadow: inset 2px 2px 0 rgba(55, 55, 55, 0.8),
    inset -2px -2px 0 #ffffff;
}

.slotSpace {
    margin: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center horizontally */
}

.invisible {
    visibility: hidden;
}

.item {
    margin: 2px;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 30px;
    height: 30px;
}

.item img {
    width: 28px;
}

.ghostItem img {
    width: 28px;
}

.ghostItem .number {
    top: -20px;
    right: -13px;
}

::selection {
    background: transparent;
}

::-moz-selection {
    background: transparent;
}

.copy {
    font-family: 'Minecraftia', monospace;
    font-size: 18px;
    width: 350px;
    display: flex;
    justify-content: flex-end;
    color: #333;
}

.responsive-img-container {
    width: 100%; /* Adjust the width as needed */
    max-width: 500px; /* Maximum width of the container */
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.responsive-img-container img {
    max-width: 100%;
    height: auto;
    display: block;
}
