body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    padding: 2rem;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.modal-content h2 {
    margin-bottom: 1rem;
    text-align: center;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
    appearance: none; /* Remove default arrow in modern browsers */
    -webkit-appearance: none;
    -moz-appearance: none;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
    margin-bottom: 1rem; /* Add spacing to match other form groups */
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.generate-button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    display: block;
    margin: 1rem auto 0;
}

.generate-button:hover {
    background-color: #0056b3;
}

.form-group-seed {
    position: relative;
    margin-bottom: 1rem;
}

.form-group-seed input {
    width: 65%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group-seed label {
    display: block;
    margin-bottom: -0.5rem;
}

.seed-button {
    margin: 5%;
    position: relative;
    right: 5px;
    top: 50%;
    padding: 0.5rem 0.6rem;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: white;
    font-size: 0.8rem;
    cursor: pointer;
}

.seed-button:hover {
    background-color: #237f34;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    z-index: 1000;
    animation: fadeOut 2s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.loading-bar-container {
    margin-top: 1rem;
    text-align: center;
}

.loading-bar {
    width: 100%;
    height: 20px;
    background-color: #f3f3f3;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.loading-bar::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #4CAF50;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 10px;
    animation: loading-indefinite 1.5s linear infinite;
}

@keyframes loading-indefinite {
    0% {
        left: -100%;
    }
    50% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}
